<% if(theme.donate) { %>

<div width="100%" align="center"><div name="dashmain" id="dash-main-id-879386" class="dash-main-2 879386-88"></div><script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>

 <span class="donate_txt">
                        <%= theme.donate.text %>
</span>

</div>

<% } %>
