
<div class="doubanshow">
<p class="asidetitle"><%= __('个人介绍') %></p>

<div>
	<div class="profile">
	<a href="about/"><img src="http://fs-image.pull.net.cn/logo.jpeg" alt="查看藏风聚气的详细资料" /></a>
			<h2>藏风聚气</h2>
			<h2>现居住于北京</h2>
			<h2> QQ:3439443855</h2>
			<h2> VX:ifengshui888</h2>
			<h2> QQ:50009979</h2>
			<h2>职业:阴阳风水命理师</h2>
	</div>
<br>
			<suo-p2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从小受到周易文化熏陶，传承先人周易学识，精通八字命理、独门阴阳秘传风水、六爻等易学知识。入道后，游走于山东、太原、昆明、南京等地，积累经验。学习各家之所长，与祖传知识结合加以运用，总结出高效的独特的风水调理方法、准确率极高周易预测方法，得到客户的一致好评。</suo-p2>
	<div class="main-grid3">
					<skilltext>技能：</skilltext>	
					<div class="skill_line"></div>
					<br>
					<div class="bar">
						<skilltext><a href="风水案例/index.html">1. 阴阳风水/金锁玉关/八宅</a></skilltext>
					</div>
					<div class="bar">
						<skilltext><a href="八字案例/index.html">2. 阴阳八字</a></skilltext>
					</div>
					<div class="bar">
						<skilltext><a href="六爻案例/index.html">3. 阴阳六爻预测</a></skilltext>
					</div>
					<div class="bar"/>
						<skilltext><a href="起名/index.html">4.起名/改命</a></skilltext>
					</div>

			</div>

					<div class="skill_line"></div>
</div>
</div>
